NODE_ENV=local

SERVER_PORT=3000

USE_TELEGRAM_LOG=false
LOG_PRISMA_QUERIES=false

DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres?schema=public"

SMTP_HOST=smtp.resend.com
SMTP_PORT=25
SMTP_USER=resend
SMTP_PASSWORD=<RESEND_API_KEY_HERE>
SMTP_EMAIL_FROM=onboarding@resend.dev
RESEND_API_KEY=re_
RESEND_EMAIL_FROM_DOMAIN=

# 1. Getting `TELEGRAM_BOT_HTTP_TOKEN`
#    - Find BotFather in Telegram to create new bots
#    - Start a conversation with BotFather typing: `/newbot`
#    - Create a name and username for your new bot
#    - Save the `TELEGRAM_BOT_HTTP_TOKEN` BotFather will answer to you
#    - BotFather will also give you the link to start conversation with your new bot: `t.me/YOUR_BOT_NAME`

# 2. Getting `TELEGRAM_BOT_CHANNEL_ID`
#    - Send a aleatory message to your new bot you created previously
#    - Access: `https://api.telegram.org/bot<YOUR_TELEGRAM_BOT_HTTP_TOKEN_HERE>/getUpdates`
#    - Copy and save: `chat.id` its a number
TELEGRAM_BOT_HTTP_TOKEN=123
TELEGRAM_BOT_CHANNEL_ID=123
